.login-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.login__header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.login__header img{
    width: 100px;
}

.login__header h1{
    color: #333;
}

.login__input{
    border: 2px solid #333;
    border-radius: 8px;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    outline: none;
    padding: 15px;
    
}

.login__button{
    background-color: #ee665c;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
    padding: 15px;
}

.login__button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}